@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-color: #00203FFF;
  font-family: 'Oswald', sans-serif;
  color: #ADEFD1FF; 
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

a {
  color: #ADEFD1FF;
  text-decoration: underline;
}

a:hover {
  font-style: oblique;
}