@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-color: #FAEBEFFF;
  font-family: 'Oswald', sans-serif;
  color: #333d79ff;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

a {
  color: #333d79ff;
  text-decoration: underline;
}

a:hover {
  font-style: oblique;
}