.bread {
  width:8%;
  height:8%;
  background-image: url(../images/arepas_columbia-venezuera.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top:63%;
  left:24%;
}