body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map-wrapper {
  width: 100%;
  
  margin: 0 auto;
}
#map {
  margin: auto;
  position: relative;
  top: -10%;
  width: 60%;
  display: block;
}

#map img {
  width: 100%;
}

.bread {
  width:8%;
  height:8%;
  background-image: url(../images/arepas_columbia-venezuera.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top:63%;
  left:24%;
}

#description {
  margin: auto;
  width: 40%;
  display: block;
}