.bread {
  width:7%;
  height:7%;
  background-image: url(../images/everything_poland.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top:42%;
  left:47%;
}