.bread {
  width:8%;
  height:8%;
  background-image: url(../images/castella_japan.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top:50%;
  left:81%;
}
