.bread {
  width:11%;
  height:11%;
  background-image: url(../images/cheesebread_brazil.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top:68%;
  left:28%;
}