.bread {
  width:8%;
  height:8%;
  background-image: url(../images/englishmuffin_newyork.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top: 47%;
  left: 22%;
}