.bread {
  width:6%;
  height:6%;
  background-image: url(../images/focaccia_italy.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top: 47%;
  left: 47%;
}