.bread {
  width:7%;
  height:7%;
  background-image: url(../images/grissini_italy.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  transform: rotate(55deg);
}

#pin-1 {
  top: 47.5%;
  left: 47.5%;
}