.bread {
  width:12%;
  height:12%;
  background-image: url(../images/mantou_china.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top: 40%;
  left: 68%;
}