body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content-wrapper {
  width: 70%;
  margin: auto;
}
#image-wrapper {
  text-align: center;
  align-items: center;
}
#image-wrapper img {
  margin: 0 20px; 
  height: 40vh;
  display: inline-block;
}
#text-wrapper {
  width: 70%;
  margin: auto;
}