.bread {
  width:10%;
  height:10%;
  background-image: url(../images/obinon_pakistan-uzbek.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top: 43%;
  left: 60%;
}