.bread {
  width: 12%;
  height: 12%;
  background-image: url(../images/pita_middleeast.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

#pin-1 {
  top: 50%;
  left: 53%;
}