@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content-wrapper {
  width: 100%;
  margin: auto;
}

#image-wrapper {
  text-align: center;
  align-items: center;
}

#image-wrapper img {
  margin-bottom: 20px; 
  width: 35%;
  display: inline-block;
}

#text-wrapper {
  width: 35%;
  margin: auto;
}

h3 {
  font-family: 'Libre Baskerville', serif;
}

#content-wrapper a {
  color: #000000;
  text-decoration: underline;
}
#content-wrapper a:hover {
  color: #000000;
  text-decoration: underline;
  font-style: italic;
}
#content-wrapper a:visited {
  color: #000000;
  text-decoration: underline;
}