@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  overflow-y: scroll;
}

header {
  padding: 30px;
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  padding: 10px;
}

/* Style the navigation bar */
.topnav {
  overflow: hidden;
  margin-top: 5.5px;
  position: absolute;
  display: inline-block;
  right: 20px;
}

.topnav a {
  display:inline-block;
  background-color: #000000;
  color: #ffffff;
  text-align: right;
  padding: 14px 16px;
  text-decoration: currentcolor;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #777777;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  text-decoration: underline;
}
