@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

header {
  padding: 30px;
}

.title{
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  padding: 10px;
}

.topnav {
  overflow: hidden;
  position: fixed;
  display: inline-block;
  right: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  display:inline-block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: currentcolor;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  z-index: 2;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  z-index: 1;
  background-color:#808080;
  color: white;
}


#card-container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(8, 130px);
  grid-auto-rows: 130px;
  grid-gap: 10px;
}

@media (max-width: 960px){
  #card-container{
      grid-template-columns: repeat(6, 130px);
  }
}


.card {
  display: block;
}
.card img {
  width: 100%;
}

.hoverWrapper:hover .hidden {
  display: block;
 }
 
 .hoverWrapper .hidden {
  display: none;
  margin-top: 5px;
  margin-bottom: 0;
  color: black;
 }
 
 .hoverWrapper:hover .hidden-placeholder {
  display: none;
 }
 
 .hoverWrapper .hidden-placeholder {
  display: block;
  margin-top: 5px;
  background-color: transparent;
  height: 20px;
 }
