@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

header {
  padding: 30px;
}

.title{
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  padding: 10px;
}

.topnav {
  overflow: hidden;
  position: absolute;
  display: inline-block;
  right: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  display:inline-block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: currentcolor;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #bababa;
  z-index: 2;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  z-index: 1;
  background-color:#808080;
  color: white;
}


